div#abox{
	display:inline-block;
	width:30%;
	border-top: .15em black;
	border-bottom: .2em black;
	border-left: .3em black;
	border-right: .3em black;
	border-style: solid;
	/*margin:auto;*/
	padding: 2% 0% 6% 0%;
	font-family: Snell Roundhand,cursive;
}
div#d{
	margin:auto;
	font-size: 600%;
	transform: rotate(-22.5deg);


}

div.diagonal{
	padding-left: 15%;
}
div#f {
	padding-left: 2%;

}